@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #da5c5c;
  --primary-hover-color: #a74b4b;
  --dark-color: #263238;
  --secondary-color: #9E9E9E;
  --light-color: #F5F5F5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  min-height: 100vh;
  /* Garante que o corpo da página ocupa pelo menos toda a altura da viewport */
  background: var(--light-color);
}

main {
  padding: 0 0px;
}

